.todo {
    border: 2px solid rgb(173, 227, 223);
    background-color: rgb(245, 250, 254);
    border-radius: 10px;
    width: 270px;
    height: 150px;
    padding: 20px;
}

.todo > h3 {
    text-align: left;
}

.todo > p {
    color:rgb(66, 76, 86);
    text-align: left;
}

.btn_set {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 24px;
}


.del_btn {
    border-radius: 5px;
    border-style: none;
    /* border-color:whitesmoke; */
    background-color: rgb(255, 203, 203);
    margin: 0 1.2em;
    padding: 0.7em 2.5em;
    position: center;
    cursor: pointer;
}

.complet_btn {
    border-radius: 5px;
    border-style: none;
    /* border-color:whitesmoke; */
    background-color: rgb(186, 185, 236);
    margin: 0 1.2em;
    padding: 0.7em 2.5em;
    position: center;
    cursor: pointer;
}